#body-background-image::after {
  content: "";
  background-image: url("images/index_bg.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: cover;
  background-repeat: none;
}

#content {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.1;
}

#index-registration-block {
  margin-top: 100px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  background: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
}

#index-registration-block:hover {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4);
}

#index-registration-block-p {
  font-size: 18px;
  line-height: 1.4;
}

.index-registration-block-child {
  margin: 10px 0;
}

#index-registration-block, #index-start-trip-block {
  display: none;
}

#routeMap {
  border: thin solid black;
  height: 500px;
  width: 700px;
  display: inline-block;
}

#rightPanel {
  font-family: 'maven-pro';
  line-height: 30px;
  padding-left: 10px;
  height: 500px;
  width: 300px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;

}

#rightPanel select, #rightPanel input {
  font-size: 15px;
}

#rightPanel select {
  width: 100%;
}

#rightPanel i {
  font-size: 12px;
}

#mapsContent {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.1;
  overflow: hidden;
  text-align: center;
}

#mapsTitle {
  margin-bottom: 10px;
}

#index-start-trip-block {
  padding: 15px;
}

#add-pois-input-description {
  width: 100%;
  padding: 0px 5px;
}

#poi-element {
  display: block;
  margin-bottom: 10px;
}

#poi-trash-icon {
  font-size: 20px;
}

.btn-nohover {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-light-nohover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#header {
  display: none;
  overflow: hidden;
  background-color: #333;
}

#header-text-container {
  width: 1100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#trips-container {
  margin: 20px 0;
}

.card {
  display: inline-flex;
  width: 30%;
  height: 400px;
  margin: 15px 30px 15px 0px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.19);
}

.card-body {
  line-height: 1.4;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 200px;
}

.card-footer {
  text-align: center;
}

#card-create-new-trip {
  height: auto;
}

.form-group {
  padding: 0 5px;
}

#toggle-stage-button {
  margin-top: 25px;
}

#calendar {
  margin-top: 20px;
}

#suggested-location-block-header {
  margin-top: 15px;
}

@font-face {
  font-family: 'maven-pro';
  src: url('fonts/MavenPro-VariableFont_wght.ttf') format('truetype')
}

body {
  font-family: 'maven-pro';
}

::placeholder {
  font-size: 15px;
}

input[type=date] {
  font-size: 15px;
}

#navbar-title {
  font-size: 2em;
  font-family: 'maven-pro';
}

.nav-item {
  margin: 0 10px;
}

.trip-button {
  margin-right: 5px;
}

@media screen and (max-width: 1100px) {
  #content, #header-text-container, #mapsContent {
    width: auto !important;
  }

  #content {
    margin: 0 20px;
  }
}

.site-title {
  margin: 10px 0;
}

.site-description {
  margin: 10px 0;
}

#startTripForm {
  display: inline-block;
  width: 100%;
  margin: 10px 0px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  transition: all 1s;
}

#startTripForm:hover {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

#button-group-nav {
  text-align: center;
  margin: 30px 0px;
}

/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
  margin: 0px 10px;
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#sidenav-action-buttons {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: lightgray;
}

#edit-page-columns {
  margin-top: -30px;
}

#sidebar-container {
  padding-top: 40px;
  z-index: 1;
}

#sidebar-bg {
  background: lightgray;
  padding: 15px;
}

#delete-trip-button-container {
  margin-bottom: 0px;
}

.sidebar-input-form {
  padding: 0px;
}

#edit-page-left-column {
  padding: 40px;
}
